@import url('variables.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

html, body {
  width: 100%;
  height: 100vh;
}

.quiz {
  background-image: url(../assets/images/pattern-background-mobile-light.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 0 24px;
  background-color: var(--color-bg);
}

.quiz__top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.quiz__active-theme {
  display: flex;
  align-items: center;
  gap: 16px;
}

.quiz__theme-toggle-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
}

.quiz__theme-toggle {
  height: 16px;
  width: 16px;
}

.quiz__theme-toggle--light {
  display: none;
}

.quiz__switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.quiz__switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.quiz__switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-purple-600);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.quiz__switch-slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-white);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .quiz__switch-slider {
  background-color: var(--color-purple-600);
}

input:focus + .quiz__switch-slider {
  box-shadow: 0 0 1px var(--color-purple-600);
}

input:checked + .quiz__switch-slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.quiz__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 0px 40px 0px;
}

.quiz__header-title {
  font: var(--text-preset-2-mobile-light);
  color: var(--color-text-primary);
}

.quiz__header-title-highlight {
  font: var(--text-preset-2-mobile-medium);
}

.quiz__header-subtitle {
  font: var(--text-preset-5-mobile-italic);
  color: var(--color-text-secondary);
}

.quiz__buttons-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.quiz__button {
  display: flex;
  position: relative;
  justify-content: left;
  padding: 16px;
  background-color: var(--color-card);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  align-items: center;
  font: var(--text-preset-4-mobile);
  color: var(--color-text-primary);
  gap: 16px;
  width: 100%;
}

.quiz__button-icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  padding: 5px;
  background-color: var(--color-grey-50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz__button-icon-wrapper--html {
  background-color: var(--color-orange-50);
}

.quiz__button-icon-wrapper--css {
  background-color: var(--color-green-100);
}

.quiz__button-icon-wrapper--js {
  background-color: var(--color-blue-100);
}

.quiz__button-icon-wrapper--accessibility {
  background-color: var(--color-purple-100);
}

.quiz__button-icon {
  width: 100%;
  height: 100%;
}

.quiz__button-text {
  font: var(--text-preset-4-mobile);
  text-align: left;
  color: var(--color-text-primary);
}

.hidden {
  display: none !important;
}

.quiz__button.selected {
  outline: 3px solid var(--color-purple-600);
}

.quiz__button.selected .quiz__button-icon-wrapper {
  background-color: var(--color-purple-600);
  color: var(--color-white);
}

.quiz__question-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quiz__question {
  font: var(--text-preset-3-mobile);
  color: var(--color-text-primary);
}

.quiz__buttons-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quiz__button--submit {
  display: flex;
  justify-content: center;
  background-color: var(--color-purple-600);
  opacity: 0.5;
  color: var(--color-white);
  font: var(--text-preset-4-mobile);
  height: 56px;
}

.quiz__button--submit.active {
  opacity: 1;
  cursor: pointer;
}

.quiz__button.correct {
  border: 3px solid var(--color-green-500) !important;
}

.quiz__button.correct .quiz__button-icon-wrapper {
  background-color: var(--color-green-500);
  color: var(--color-white);
}

.quiz__button.incorrect {
  border: 3px solid var(--color-red-500) !important;
}

.quiz__button.incorrect .quiz__button-icon-wrapper {
  background-color: var(--color-red-500);
  color: var(--color-white);
}

.result-icon {
  position: absolute;
  right: 16px;
  width: 30px;
  height: 30px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: var(--color-white);
  border-radius: 999px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  width: 0%;
  background: var(--color-purple-600);
  border-radius: 999px;
  transition: width 0.3s ease;
}

.quiz__error-container {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: center;
  color: var(--color-red-500);
  font: var(--text-preset-5);
}

.quiz__result-card {
  background: var(--color-card);
  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.quiz__result-topic {
  display: flex;
  align-items: center;
  gap: 12px;
}

.quiz__result-topic .quiz__button-icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  padding: 5px;
}

.quiz__result-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#result-score {
  font-size: 64px;
  font-weight: bold;
  color: var(--color-text-primary);
  font: var(--text-preset-1);
}

#result-title {
  color: var(--color-text-primary);
}

.quiz__result-score p {
  color: var(--color-text-secondary);
  font: var(--text-preset-5);
}

.quiz__result-screen {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.quiz__result-content {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

body.dark-mode {
  --color-bg: var(--color-blue-950);
  --color-text-primary: var(--color-white);
  --color-text-secondary: var(--color-blue-300);
  --color-card: var(--color-blue-850);
}

body.dark-mode .quiz {
  background-image: url(../assets/images/pattern-background-mobile-dark.svg);
}

@media (min-width: 768px) {
  body.dark-mode .quiz { background-image: url(../assets/images/pattern-background-tablet-dark.svg); }
}
@media (min-width: 1440px) {
  body.dark-mode .quiz { background-image: url(../assets/images/pattern-background-desktop-dark.svg); }
}

@media (min-width: 768px) {
  .quiz {
    background-image: url(../assets/images/pattern-background-tablet-light.svg);
    background-repeat: no-repeat;
    padding: 0 64px;
    background-color: var(--color-bg);
  }

  .quiz__question {
    font: var(--text-preset-3);
  }

  .quiz__top-bar {
    padding: 40px 0;
  }

  .quiz__active-theme {
    gap: 24px;
  }

  .quiz__theme-toggle-container {
    gap: 16px;
  }

  .quiz__theme-toggle {
    height: 24px;
    width: 24px;
  }

  .quiz__switch {
    width: 48px;
    height: 28px;
  }

  .quiz__switch-slider:before {
    height: 20px;
    width: 20px;
  }

  input:checked + .quiz__switch-slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  .quiz__header {
    max-width: none;
    flex: 0 0 45%;
  }

  .quiz__header-title {
    font: var(--text-preset-2-light);
  }

  .quiz__header-subtitle {
    font: var(--text-preset-6-italic);
  }

  .quiz__header-title-highlight {
    font: var(--text-preset-2-medium);
  }

  .quiz__buttons-list {
    gap: 24px;
  }

  .quiz__button {
    gap: 32px;
  }

  .quiz__button-icon-wrapper {
    width: 56px;
    height: 56px;
  }

  .quiz__button-icon-wrapper span {
    color: var(--color-grey-500);
  }

  .quiz__button.selected .quiz__button-icon-wrapper span {
    color: var(--color-white);
  }

  .quiz__button.correct .quiz__button-icon-wrapper span,
  .quiz__button.incorrect .quiz__button-icon-wrapper span {
    color: var(--color-white);
  }

  .quiz__button-text {
    flex: 1;
    padding-right: 48px;
    word-break: break-word;
    font: var(--text-preset-4);
  }

  .quiz__button--submit {
    font: var(--text-preset-4);
    height: 92px;
  }

  .quiz__buttons-container {
    gap: 24px;
  }

  .quiz__result-topic {
    gap: 24px;
  }

  .quiz__result-card {
    padding: 48px;
    gap: 40px;
  }

  .quiz__result-score {
    gap: 16px;
  }

  .quiz__result-content {
    gap: 32px;
  }

  @media (min-width: 1440px) {
    .quiz {
      background-image: url(../assets/images/pattern-background-desktop-light.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 0 141.5px;
    }

    .quiz__top-bar {
      padding: 80px 0 40px 0;
    }

    .quiz__theme-toggle-container {
      gap: 16px;
    }

    .quiz__question-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .quiz__content {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .quiz__header {
      flex: 0 0 45%;
      padding: 0;
      max-width: var(--content-width);
    }

    .quiz__buttons-list {
      width: var(--content-width);
    }

    .quiz__buttons-container {
      gap: 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .quiz__button--submit {
      width: 100%;
      max-width: var(--content-width);
    }

    .quiz__result-screen {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    .quiz__result-content {
      width: var(--content-width);
    }

    .quiz__result-card {
      min-height: 388px;
    }

    .progress-bar {
      margin-top: 180px;
    }
  }}