@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey-500: hsl(219, 13%, 44%);
  --color-grey-50: hsl(220, 38%, 97%);
  --color-blue-950: hsl(214, 24%, 23%);
  --color-blue-900: hsl(216, 25%, 25%);
  --color-blue-850: hsl(215, 27%, 32%);
  --color-blue-500: hsl(223, 100%, 59%);
  --color-blue-300: hsl(216, 47%, 78%);
  --color-blue-100: hsl(220, 50%, 95%);
  --color-blue-50: hsl(225, 100%, 96%);
  --color-green-500: hsl(151, 68%, 52%);
  --color-green-100: hsl(151, 88%, 94%);
  --color-purple-600: hsl(277, 91%, 56%);
  --color-purple-100: hsl(278, 100%, 95%);
  --color-orange-400: hsl(22, 100%, 60%);
  --color-orange-50: hsl(27, 100%, 96%);
  --color-red-500: hsl(0, 82%, 63%);

  --font-family: 'Rubik', sans-serif;
  --text-preset-1: normal 500 144px/100% var(--font-family);
  --text-preset-2-medium: normal 500 64px/100% var(--font-family);
  --text-preset-2-light: normal 300 64px/100% var(--font-family);
  --text-preset-3: normal 500 36px/120% var(--font-family);
  --text-preset-4: normal 500 28px/100% var(--font-family);
  --text-preset-5-medium: normal 500 24px/150% var(--font-family);
  --text-preset-5: normal 400 24px/150% var(--font-family);
  --text-preset-6-italic: italic 400 20px/150% var(--font-family);
  --text-preset-1-mobile: normal 500 88px/100% var(--font-family);
  --text-preset-2-mobile-medium: normal 500 40px/100% var(--font-family);
  --text-preset-2-mobile-light: normal 300 40px/100% var(--font-family);
  --text-preset-3-mobile: normal 500 20px/120% var(--font-family);
  --text-preset-4-mobile: normal 500 18px/100% var(--font-family);
  --text-preset-5-mobile-italic: italic 400 14px/150% var(--font-family);

  --content-width: 564px;
}